.elements-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: auto;
    border: 1px solid $myBlue;
    border-radius: 10px;
    padding: 20px;
}

.element-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    label {
        min-width: 100px;
    }
}

.input {
    min-height: 30px;
    border-radius: 10px;
    padding: 0 10px;
    width: 50%;
}

.login-button {
    margin-top: 30px;
    background-color: $myBlue;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    height: 35px;
    width: 140px;
    color: #fff;
    &:hover {
        color: #ccc;
        background-color: #355e80;
    }
}
