.name {
    font-size: xx-large;
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.table-name {
    margin-top: 30px;
    font-size: x-large;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.test {
    .login-button {
        text-decoration: none;
        width: max-content;
        margin-top: 20px;
    }

    .delete-button {
        background-color: #b63737;
        &:hover {
            background-color: #922c2c;
        }
    }

    .delete-button_parent {
        direction: rtl;
    }

    .table {
        a {
            text-decoration: none;
        }
        .table-row {
            div {
                width: 33.33%;
            }
        }
    }

    .attendances {
        .table-row {
            div {
                width: 50%;
            }
        }
    }
}
